/* h1 {
    text-align:"center";
    /* background-color : rgb(216, 87, 55); */
    /* border-style: "solid"
}
p {
    text-align:"left";
    /* background-color : rgb(255, 251, 250);  */
    /* font:120% Arial;
    margin-left:"5cm"; margin-right:"5cm"} */
/* h2 {
    text-align:"left";
    /* background-color : rgb(255, 251, 250); */
    /* font :Arial ;
    margin-left :"5cm";
    margin-right:"5cm"} */
 
    .flex-grid {
        display: flex;
      }
